body {
  font-family: "Inter", sans-serif;
  background-color: #f0f4f8;
}

nav,
footer {
  background-color: #9fb3c8;
}

nav {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 40px;
}

nav h1,
nav a {
  margin: 20px 15px;
  color: #334e68;
}

.btn-primary {
  background-color: #102a43;
  padding: 10px;
  border-radius: 5px;
  color: #f0f4f8;
  text-decoration: none;
  margin: 15px;
  font-size: 14px;
}
.controls {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
table {
  overflow: auto;
  margin: 15px auto;
  border-collapse: collapse;
  width: 90%;
}
th,
td {
  text-align: left;
  border: 1px solid #627d98;
  padding: 12px 25px;
}
th {
  text-align: center;
  background: #f0f4f8;
  color: #102a43;
  text-transform: uppercase;
}
tr:nth-child(odd) {
  background-color: lightgray;
}
tr:hover {
  background-color: #334e68;
  color: #f0f4f8;
}

footer {
  display: flex;

  width: 100vw;
  bottom: 0;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  color: #334e68;
}
footer a {
  color: #334e68;
}

footer .list {
  list-style: none;
  padding: 0;
}

footer .list li {
  margin-bottom: 5px;
}

.form-page h2 {
  text-align: center;
  margin: 20px 15px;
}

.player-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-field {
  display: flex;
  width: 49%;
  margin-top: 10px;
}
label {
  display: inline-block;
  width: 25%;
  text-align: right;
  margin: 10px;
}

input,
textarea {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input[type="number"] {
  width: 10%;
}

input:focus,
textarea:focus {
  background: #ffffff;
}

@media only screen and (max-width: 760px) {
  .form-field {
    width: 95%;
  }
}
